body {
transform-origin: 90% 90%;
  background-color: white;
  backface-visibility: hidden;
  box-sizing: border-box;
  display: flex;
	opacity: 1;
  /*add xtra line*/
}

h1 {
  display: flex;
  transform-origin: 10% 10%;
  color: black;
  text-align: center;
   /*add xtra line*/
}

p {
	 transform-origin: 120% 40%;
  font-family: arial;
  font-size: 220px;
  /*add xtra line*/
}