/*
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 300 250" style="enable-background:new 0 0 300 250;" xml:space="preserve">
<g>
	<path d="M109.2,144.2l-13.3,40.3H78.8l43.5-128.1h20L186,184.5h-17.7l-13.7-40.3H109.2z M151.2,131.3l-12.5-36.9
		c-2.9-8.4-4.8-16-6.7-23.4h-0.4c-1.9,7.6-4,15.4-6.5,23.2l-12.5,37.1H151.2z"/>
</g>
</svg>
*/


/*
<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300 250" style="enable-background:new 0 0 300 250;" xml:space="preserve"><g><path d="M109.2,144.2l-13.3,40.3H78.8l43.5-128.1h20L186,184.5h-17.7l-13.7-40.3H109.2z M151.2,131.3l-12.5-36.9 c-2.9-8.4-4.8-16-6.7-23.4h-0.4c-1.9,7.6-4,15.4-6.5,23.2l-12.5,37.1H151.2z"/></g></svg>
*/

<svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 300 250" style="enable-background:new 0 0 300 250;" xml:space="preserve"> <style type="text/css"> .st0{fill:none;}.st1{font-family:'ArialMT';}.st2{font-size:60px;}</style><rect x="8.8" y="49.4" class="st0" width="267.1" height="138.8"/><text transform="matrix(1 0 0 1 74.0439 92.3608)" class="st1 st2">Hello</text></svg>